<% content_for :title, "Home - student" %>
<div class="card">
  <h5 class="card-header">LA Office Hours</h5>
  <div class="card-body">
    <div class="form-group row">
      <table class="table" id="office-table">
        <thead>
        <tr>
          <th style="white-space: nowrap">Name</th>
          <th style="white-space: nowrap">Course</th>
          <th style="white-space: nowrap">Monday</th>
          <th style="white-space: nowrap">Tuesday</th>
          <th style="white-space: nowrap">Wednesday</th>
          <th style="white-space: nowrap">Thursday</th>
          <th style="white-space: nowrap">Friday</th>
          <th style="white-space: nowrap">Saturday</th>
          <th style="white-space: nowrap">Sunday</th>
          <th style="white-space: nowrap">Announcement</th>
        </tr>
        </thead>
        <tbody>
        <% @las.each do |la| %>
          <tr>
            <td><%= la.user_detail.DisplayName %></td>
            <td>
              <% get_la_course(la.id).each do |course| %>
                <%= course.course.course_name %>
              <% end %>
            </td>
            <td><%= la.Monday %></td>
            <td><%= la.Tuesday %></td>
            <td><%= la.Wednesday %></td>
            <td><%= la.Thursday %></td>
            <td><%= la.Friday %></td>
            <td><%= la.Saturday %></td>
            <td><%= la.Sunday %></td>
            <td> <%= link_to 'View Detail', { :action => 'show', :id => la.id } -%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script defer type="text/javascript">
    $(document).ready(function () {
        $('#office-table').DataTable({
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
            dom: 'Bfrtip',
            "initComplete": function () {
                $("#office-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
            },
            columnDefs: [],
            buttons: ['pageLength'
                , {
                    text: 'All',
                    action: function () {
                        location.reload(true);
                    }
                },
                <% @course.order(:course_name).each do |course| %>
                {
                    text: '<%= course.course_name %>',
                    action: function () {
                        var table = $('#office-table').DataTable();
                        table.column(1).search('<%= course.course_name %>').draw();
                    }
                },
                <% end %>
            ]
        })
    });
</script>
<br>
<% if !current_student.hasAppointment %>
  <div class="card">
    <h5 class="card-header">Request Appointment</h5>
    <div class="card-body">
      <%= form_tag(appointment_student_request_url, method: "post", id: "student-request") do %>
        <div class="form-group row">
          <%= label_tag(:class, "Class:", class: "col-form-label") %>
          <div class="col-sm-10">
            <select name="class_id" id="class_id" class="form-control" required="required">
              <% @course.order(:course_name).each do |course| %>
                <option value="<%= course.course_name %>"><%= course.course_name %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <%= label_tag(:method, "Method:", class: "col-form-label") %>
          <div class="col-sm-10">
            <%= select_tag(:method, options_for_select([['In Person', "In Person"], ['Online', "Online"]]), class: "form-control", :required => true) %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag(:date_time, "Date and Time:", class: "col-form-label") %>
          <div class="row g-3">
            <div class="col-auto">
              <input type="text" class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))">
            </div>
            <div class="col-auto">
              <input type="text" class="form-control" id="time" name="time" placeholder="HH:MM TT">
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="now" name="now" onclick="hide_time()">
            <label class="form-check-label" for="flexCheckDefault">
              As Soon As Possible
            </label>
            <script>
                function hide_time() {
                    var checkBox = document.getElementById("now");
                    var time = document.getElementById("time");
                    var date = document.getElementById("date");

                    if (checkBox.checked == true) {
                        time.style.display = "none";
                        date.style.display = "none";
                    } else {
                        time.style.display = "block";
                        date.style.display = "block";
                    }
                }
            </script>
          </div>
        </div>
        <div class="form-group row">
          <%= label_tag(:duration, "Estimated Duration(minutes):", class: "col-form-label") %>
          <div class="col-sm-10">
            <input type="number" name="duration" min="5" max="60" class="form-control" required>
          </div>
        </div>
        <p>This is only a request for appointment. If your appointment is accepted, you will be notified via your
          “<%= cas_email %>” email.</p>
        <p>If your request is for some time today, and is not fulfilled, it will automatically be cancelled 1 hour
          before the scheduled time. Otherwise, your request will expire after 12 hours.</p>
        <div class="form-group row">
          <%= submit_tag("Submit Request", class: "btn btn-primary btn-block", id: "submit") %>
        </div>
        </div>
      <% end %>
      </div>
  <script>
      $('#time').timepicker({
          timeFormat: "hh:mm tt",
          hourMin: 8,
          hourMax: 20,
          stepMinute: 5
      })
      $('#date').datepicker({
          dateFormat: "yy-mm-dd",
          minDate: "<%= Time.now.strftime("%Y-%m-%d") %>",
          maxDate: "<%= (Time.now + 2.days).strftime("%Y-%m-%d") %>"
      })
  </script>
<% else %>
  <style>
      .time {
          font-size: 40px;
          margin-top: 0px;
      }
  </style>
  <% if @appointment.status == "Requested" %>
    <div class="card">
      <h5 class="card-header">Request Appointment <span class="badge bg-warning text-dark">Requested</span>
      </h5>
      <div class="card-body">
        <p class="card-text">
        <div class="row row-cols-2">
          <div class="col">
            <div class="row mb-3 ">
              <label class="col-sm-4">LA: </label>
              <div class="col-sm-6">
                None Assigned
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4">Class: </label>
              <div class="col-sm-6">
                <%= @appointment.class_id %>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4">Method: </label>
              <div class="col-sm-6">
                <%= @appointment.the_method %>
              </div>
            </div>
            <div class="row mb-3">
              <% if !@appointment.datetime.nil? %>
                <label class="col-sm-4">Time: </label>
                <div class="col-sm-6">
                  <%= @appointment.datetime.strftime("%a, %m/%d/%y %I:%M %P") %>
                </div>
              <% else %>
                <label class="col-sm-4">Request at:</label>
                <div class="col-sm-6">
                  <%= @appointment.created_at.strftime("%a, %m/%d/%y %I:%M %P") %>
                </div>
              <% end %>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4">Duration:</label>
              <div class="col-sm-6">
                <%= @appointment.duration %> minutes
              </div>
            </div>
          </div>
          <div class="col">
            <p>Your Appointment will be timeout until: </p>
            <p id="countdown" class="time"></p>
            <script>
                <% if !@appointment.datetime.nil? %>
                var countDownDate = new Date("<%= (@appointment.datetime-15.minutes).in_time_zone.strftime("%Y-%m-%dT%H:%M:%S") %>").getTime();
                <% else %>
                var countDownDate = new Date("<%= (@appointment.created_at+24.hours).in_time_zone.strftime("%Y-%m-%dT%H:%M:%S") %>").getTime();

                <% end %>
                var x = setInterval(function () {
                    var now = new Date().getTime();
                    var distance = countDownDate - now;
                    // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + Math.floor(distance / (1000 * 60 * 60 * 24)) * 24;
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Output the result in an element with id="demo"
                    document.getElementById("countdown").innerHTML = hours + "h "
                        + minutes + "m " + seconds + "s ";

                    // If the count down is over, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("countdown").innerHTML = "Timeout<br />System Cancelling";
                        sleep(10000).then(() => {
                            window.location.reload();
                        })
                    }
                }, 1000);

                function sleep(time) {
                    return new Promise((resolve) => setTimeout(resolve, time));
                }

            </script>
          </div>
        </div>
        <button class="btn btn-danger" onclick="cancelreq()">Cancel Request</button>
        </p>
      </div>
  <% else %>
    <div class="card">
      <h5 class="card-header">Request Appointment
        <span class="badge bg-success text-dark"><%= @appointment.status %></span><span class="float-right"></span>
      </h5>
      <div class="card-body">
        <p class="card-text">
        <div class="row row-cols-2">
          <div class="row">
            <div class="row mb-3">
              <label class="col-sm-4">LA Name: </label>
              <div class="col-sm-6">
                <%= UserDetail.find_by(eduPersonPrincipalName: @appointment.la_eduPersonPrincipalName).DisplayName %>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4">LA Email: </label>
              <div class="col-sm-6">
                <%= UserDetail.find_by(eduPersonPrincipalName: @appointment.la_eduPersonPrincipalName).Email %>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4">Class: </label>
              <div class="col-sm-7">
                <%= @appointment.class_id %>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4">Method: </label>
              <div class="col-sm-6">
                <%= @appointment.the_method %>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4">Time: </label>
              <div class="col-sm-6">
                <%= @appointment.datetime.strftime("%a, %m/%d/%y %I:%M %P") %>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4">Duration:</label>
              <div class="col-sm-6">
                <%= @appointment.duration %> minutes
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4">Location:</label>
              <div class="col-sm-6">
                <%= @appointment.location %>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4">Note:</label>
              <div class="col-sm-6">
                <%= @appointment.notes %>
              </div>
            </div>
          </div>

          <div class="row">
            <p>Time Until your appointment:</p>
            <p id="countdown" class="time"></p>
            <script>
                var countDownDate = new Date("<%= (@appointment.datetime).in_time_zone.strftime("%Y-%m-%dT%H:%M:%S") %>").getTime();
                var x = setInterval(function () {

                    var now = new Date().getTime();

                    var distance = countDownDate - now;
                    // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + Math.floor(distance / (1000 * 60 * 60 * 24)) * 24;
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Output the result in an element with id="demo"
                    document.getElementById("countdown").innerHTML = hours + "h "
                        + minutes + "m " + seconds + "s ";

                    // If the count down is over, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("countdown").innerHTML = "Appointment in Session"
                        document.getElementById("time-action").innerHTML =
                            <% if @appointment.status == "Accepted" %>
                            '<button class="btn btn-success" onclick="start(<%= @appointment.id %>)">Start Meeting</button>' +
                            <% elsif @appointment.status == "Started" %>
                            '<button class="btn btn-success" onclick="end(<%= @appointment.id %>)">End Meeting</button>' +
                            <% end %>
                            '  <button class="btn btn-danger" onclick="cancelreq()">Report Issue</button>'
                    }
                }, 1000);
            </script>
          </div>
        </div>
        <div id="time-action">
          <button class="btn btn-danger" onclick="cancelreq()">Cancel Request</button>
        </div>
      </div>
      </p>
    </div>
    </div>
  <% end %>
<% end %>
<script>
    setTimeout(function () {
        Swal.fire({
            title: 'Refresh Page',
            html: `This page might be outdated, please refresh this page.`,
            confirmButtonText: 'Refresh',
            showCancelButton: true,
            focusConfirm: true,
            preConfirm: () => {
                location.reload();
            }
        })
    }, 600000);

    function start(id) {
        Rails.ajax({
            url: "<%=appointment_start_appt_url %>",
            type: "POST",
            data: "data=1&id=" + id
        });
    }

    function end(id) {
        Rails.ajax({
            url: "<%=appointment_end_appt_url %>",
            type: "POST",
            data: "data=1&id=" + id
        });
    }

    function cancelreq() {
        Swal.fire({
            title: 'Cancel Appointment',
            html: `
      <%= form_tag(appointment_cancel_request_url, method: "post", id: "cancel_appt", onSubmit: "return confirm('Are you sure you want to cancel this appointment?') ") do %>
        <input type="text" name="reason" id="reason" class="swal2-input" placeholder="Reason of cancellation">
         <%= submit_tag("Submit Change", id: "submit_cancel", style:"display:none;") %>
                      <% end %>`,
            confirmButtonText: 'Confirm',
            showCancelButton: true,
            focusConfirm: false,
            preConfirm: () => {
                const reason = Swal.getPopup().querySelector('#reason').value
                if (!reason) {
                    Swal.showValidationMessage(`Please enter reason of the cancellation`)
                } else {
                    document.getElementById("submit_cancel").click();
                }
            }
        })
    }
</script>