<% content_for :title, "Request appointment - student" %>
<div class="main">
  <div class="card">
    <h5 class="card-header">Request Appointment</h5>
    <div class="card-body">
      <%= form_tag(appointment_student_request_url, method: "post", id: "student-request") do %>

        <div class="form-group row">
          <%= label_tag(:class, "Class:", class: "col-sm-2 col-form-label") %>
          <div class="col-sm-10">
            <select name="class_id" id="class_id" class="form-control" required="required">
              <% Course.all.order(:course_name).each do |course| %>
                <option value="<%= course.course_name %>"><%= course.course_name %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <%= label_tag(:method, "Method:", class: "col-sm-2 col-form-label") %>
          <div class="col-sm-10">
            <%= select_tag(:method, options_for_select([['In Person', "In Person"], ['Online', "Online"]]), class: "form-control", :required => true) %>
          </div>
        </div>

        <div class="form-group">

          <%= label_tag(:date_time, "Date and Time:", class: "col-sm-2 col-form-label") %>
          <div class="row g-3">

            <div class="col-auto">
              <%= select_tag(:date, options_for_select([[Time.now.strftime("%d/%m/%Y"), Time.now.strftime("%d/%m/%Y")], [(Time.now + 1.days).strftime("%d/%m/%Y"), (Time.now + 1.days).strftime("%d/%m/%Y")]]), class: "form-control", :required => true) %>
            </div>
            <div class="col-auto">
              <input id="time" type="time" min="08:00" max="20:00" class="form-control" name="time">
            </div>
            <div class="col-auto form-check">
              <input class="form-check-input" type="checkbox" value="" name="now">
              <label class="form-check-label" for="flexCheckDefault">
                As Soon As Possible
              </label>
              <span class="tooltip-element" tooltip="Leave the time blank if select as soon as possible">?</span>
            </div>

          </div>
        </div>

        <div class="form-group row">
          <%= label_tag(:duration, "Duration:", class: "col-sm-2 col-form-label") %>
          <div class="col-sm-10">
            <input type="number" name="duration" min="5" max="60" class="form-control" required>
          </div>
        </div>
        <p>This is only a request for appointment. If your appointment is accepted, you will be notified via your
          “<%= cas_email %>” email.</p>
        <p>If your request is for some time today, and is not fulfilled, it will automatically be cancelled 1 hour
          before the scheduled time. Otherwise, your request will expire after 12 hours.</p>

        <div class="form-group row">
          <%= submit_tag("Submit Request", class: "btn btn-primary btn-block", id: "submit") %>
        </div>
        </div>
      <% end %>
      </div>

</div>
</div>