<% content_for :title, "Home - LA" %>
<div class="main">
  <div class="card">
    <h5 class="card-header">Your Office Hours Today</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Appointment Requests</h5>
    <div class="card-body">
      <h5 class="card-title">As Soon As Possible</h5>
      <table class="table" id="user-table">
        <thead>
        <tr>
          <th style="white-space: nowrap">Requested At</th>
          <!--          <th style="white-space: nowrap">Name</th>-->
          <th style="white-space: nowrap">Class</th>
          <th style="white-space: nowrap">Method</th>
          <th style="white-space: nowrap">Duration</th>
          <th style="white-space: nowrap">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @request_now.each do |req| %>
          <tr>
            <td><%= req.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            <!--                <td><%#= req.name %></td>-->
            <td><%= req.class_id %></td>
            <td><%= req.method %></td>
            <td><%= req.duration %></td>
            <td>
              <%= form_tag(appointment_la_accept_url(:id => req.id.to_s), method: "post", id: "accept" + req.eduPersonPrincipalName, onSubmit: "return confirm('Do you confirm you want to accept this appointment?" ") ") do %>
                <%= submit_tag("Accept", class: "btn btn-primary btn-sm", id: "submit", style: "margin-top: 2px") %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <br>
      <h5 class="card-title">Appointment</h5>
      <table class="table" id="user-table">
        <thead>
        <tr>
          <th style="white-space: nowrap">Requested At</th>
          <!--          <th style="white-space: nowrap">Name</th>-->
          <th style="white-space: nowrap">Class</th>
          <th style="white-space: nowrap">Method</th>
          <th style="white-space: nowrap">Duration</th>
          <th style="white-space: nowrap">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @request_app.each do |req| %>
          <tr>
            <td><%= req.datetime.strftime("%d/%m/%Y %H:%M") %></td>
            <!--                <td><%#= req.name %></td>-->
            <td><%= req.class_id %></td>
            <td><%= req.method %></td>
            <td><%= req.duration %></td>
            <td>
              <%= form_tag(appointment_la_accept_url(:id => req.id.to_s), method: "post", id: "accept" + req.eduPersonPrincipalName, onSubmit: "return confirm('Do you confirm you want to accept this appointment?" ") ") do %>
                <%= submit_tag("Accept", class: "btn btn-primary btn-sm", id: "submit", style: "margin-top: 2px") %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Appointment <a class="btn btn-success btn-sm">Accepted</a></h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a id="cancel" class="btn btn-primary">cancel</a>
    </div>
  </div>

</div>

<!-- Popup -->
<div id="cancelpop" class="popwindow">

  <!-- Modal content -->
  <div class="popwindow-content">
    <span class="close">&times;</span>
    <p>cencel appt here</p>
  </div>

</div>
<script>
    // Get the modal
    var modal = document.getElementById("cancelpop");

    // Get the button that opens the modal
    var btn = document.getElementById("cancel");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>