<% content_for :title, "Appointment Request - Admin" %>
<div class="card">
  <h5 class="card-header">Request ID
    <% @request.id %></h5>
  <div class="card-body">
    <p class="card-text">
    <div class="row mb-3 ">
      <label class="col-sm-3">Time: </label>
      <div class="col-sm-7">
        <%= @request.datetime.strftime("%m/%d/%Y %I:%M %P") if !@request.datetime.nil? %>
      </div>
    </div>
    <div class="row mb-3 ">
      <label class="col-sm-3">Class: </label>
      <div class="col-sm-7">
        <%= @request.class_id %>
      </div>
    </div>
    <div class="row mb-3 ">
      <label class="col-sm-3">Method: </label>
      <div class="col-sm-7">
        <%= @request.the_method %>
      </div>
    </div>
    <div class="row mb-3 ">
      <label class="col-sm-3">Duration: </label>
      <div class="col-sm-7">
        <%= @request.duration %> minutes
      </div>
    </div>
    <div class="row mb-3 ">
      <label class="col-sm-3">Description: </label>
      <div class="col-sm-7">
        <%= @request.description if !@request.description.nil? %>
      </div>
    </div>
    <div class="row mb-3 ">
      <label class="col-sm-3">Status: </label>
      <div class="col-sm-7">
        <%= @request.status %>
      </div>
    </div>
    <div class="row mb-3 ">
      <label class="col-sm-3">Created At: </label>
      <div class="col-sm-7">
        <%= @request.created_at.strftime("%m/%d/%Y %I:%M %P") %>
      </div>
    </div>
    <div class="row mb-3 ">
      <label class="col-sm-3">Last Update At: </label>
      <div class="col-sm-7">
        <%= @request.updated_at.strftime("%m/%d/%Y %I:%M %P") %>
      </div>
    </div>
    </p>
  </div>
</div>