<% content_for :title, "Course - Admin" %>
<div class="main">
  <div class="card">
    <h5 class="card-header">Courses</h5>
    <div class="card-body">
      <h5 class="card-title">Course List</h5>
      <% @courses.each do |course| %>
        <%= form_tag(management_remove_course_url, method: "post", name: "remove"+course.course_name, onSubmit: "return confirm('Do you want to remove this course: '+ class_id.value +'?') ") do %>
          <%= course.course_name %>
          <input type="hidden" name="class_id" value=<%=course.course_name %>>
          <%= submit_tag("Remove Course", class: "btn btn-primary btn-sm", id: "submit") %>

        <% end %>
        <br>
      <% end %>

      <br>
      <h5 class="card-title">Add Course</h5>
      <%= form_tag(management_add_course_url, method: "post", name: "add_course", onSubmit: "return confirm('Do you want to add this course: '+ class_id.value +'?') ") do %>
        <div class="row">
          <div class="col">
            <input type="text" name="class_id" class="form-control" placeholder="Course Name" aria-label="Course Name">
          </div>
          <div class="col">
            <%= submit_tag("Add Course", class: "btn btn-primary float-right", id: "submit") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>