<% content_for :title, "Course - Admin" %>
<div class="card">
  <h5 class="card-header">Courses</h5>
  <div class="card-body">
    <h5 class="card-title">Course List</h5>
    <% @courses.each do |course| %>
      <%= form_tag(management_remove_course_url, method: "post", name: "remove" + course.course_name, onSubmit: "return confirm('Do you want to remove this course: '+ class_id.value +'?') ") do %>
        <div class="row">
          <div class="col-sm-5">
            <%= course.course_name %> (Slack:<%= course.slack %>)
          </div>
          <div class="col-sm-5">
            <input type="hidden" name="class_id" value=<%= course.course_name %>>
            <%= submit_tag("Remove Course", class: "btn btn-primary btn-sm") %>
          </div>
        </div>
      <% end %>
      <br>
    <% end %>

    <br>
    <h5 class="card-title">Add Course/Update Slack Channel Name</h5>
    <%= form_tag(management_add_course_url, method: "post", name: "add_course", onSubmit: "return confirm('Do you want to add this course: '+ class_id.value +'?') ") do %>
      <div class="row">
        <div class="col">
          <input type="text" name="class_id" class="form-control" placeholder="Course Name" aria-label="Course Name">
        </div>
        <div class="col">
          <input type="text" name="slack_id" class="form-control" placeholder="Slack Channel Name" aria-label="Slack Channel Name">
        </div>
        <div class="col">
          <%= submit_tag("Add Course", class: "btn btn-primary float-right") %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
<div class="card">
  <h5 class="card-header">LA Management</h5>
  <div class="card-body">
    <h5 class="card-title">Set Course</h5>
    <%= form_tag(management_manage_la_course_url, method: "post", id: "manage_la-course", onSubmit: "return confirm('Do you want to change the system url to '+system_url.value+'?') ") do %>
      <div class="row">
        <div class="form-group col">
          <label for="user_name">User Name</label>
          <input type="text" class="form-control" name="user_name" required="required">
        </div>
        <div class="form-group col">
          <label for="course-select">Course Select</label>
          <br>
          <select multiple class="chosen-select form-control" name="course-select[]">
            <option value=""></option>
            <% @courses.each do |course| %>
              <option value="<%= course.id %>"><%= course.course_name %></option>
            <% end %>
          </select>
        </div>
        <script>
            $(".chosen-select").chosen({
                no_results_text: "Oops, nothing found!"
            })
        </script>
      </div>
      <br>
      <%= submit_tag("Submit Change", class: "btn btn-primary float-right") %>
    <% end %>
    <br>
    <br>
    <h5 class="card-title">LA List</h5>
    <table class="table" id="user-table">
      <thead>
      <tr>
        <th style="white-space: nowrap">Name</th>
        <th style="white-space: nowrap">User Name</th>
        <th style="white-space: nowrap">Course</th>
        <th style="white-space: nowrap">Announcement</th>
        <th style="white-space: nowrap">Meeting Location</th>
        <th style="white-space: nowrap">Allow to Change office hour</th>
        <th style="white-space: nowrap">Monday</th>
        <th style="white-space: nowrap">Tuesday</th>
        <th style="white-space: nowrap">Wednesday</th>
        <th style="white-space: nowrap">Thursday</th>
        <th style="white-space: nowrap">Friday</th>
        <th style="white-space: nowrap">Saturday</th>
        <th style="white-space: nowrap">Sunday</th>
      </tr>
      </thead>
      <tbody>
      <% @la.each do |user| %>
        <tr>
          <td><%= user.user_detail.DisplayName %></td>
          <td><%= user.user_detail.eduPersonPrincipalName %></td>
          <td>
            <% get_la_course(user.id).each do |course| %>
              <%= course.course.course_name %>
            <% end %>
          </td>
          <td><%= user.announcement %></td>
          <td><%= user.location %></td>
          <td>
            <%= user.allowChangeHour %>
            <%= form_tag(management_change_office_hour_url(:id => user.id.to_s), id: user.id.to_s, method: "post", name: "change_office_hour", onSubmit: "return confirm('Do you want change to allow '+Name.value+' to change office hour to '+status.value+'?')") do %>
              <input type="hidden" name="Name" value="<%= user.user_detail.DisplayName %>">
              <%= select_tag("status", options_for_select([['true', "true"], ['false', "false"]]), style: "width:auto", :include_blank => true, id: user.id.to_s + "_status") %>
              <%= submit_tag("Submit", style: "margin-top: 2px") %>
            <% end %>
          </td>
          <td><%= user.Monday %></td>
          <td><%= user.Tuesday %></td>
          <td><%= user.Wednesday %></td>
          <td><%= user.Thursday %></td>
          <td><%= user.Friday %></td>
          <td><%= user.Saturday %></td>
          <td><%= user.Sunday %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= form_tag(management_allow_office_hour_url, method: "post", id: "allow_all_change", onSubmit: "return confirm('Do you want allow all LAs to change office hour?')") do %>
      <%= submit_tag("Allow All LAs to Change Office Hour", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>

<br>
<div class="card">
  <h5 class="card-header">Export Log</h5>
  <div class="card-body">
    <%= form_tag(management_export_log_url, method: "post", id: "export_log") do %>
      <div class="row g-3">
        <div class="col-md-6">
          <label for="Start" class="form-label">Start Date</label>
          <input type="date" class="form-control" id="start" name="start" placeholder="YYYY-MM-DD" required>
        </div>
        <div class="col-md-6">
          <label for="end" class="form-label">End Date</label>
          <input type="date" class="form-control" id="end" name="end" placeholder="YYYY-MM-DD" required>
        </div>
      </div>
      <br>
      <%= submit_tag("Submit", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>
<script defer type="text/javascript">
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#user-table')) {
            table = $('#user-table').DataTable();
        } else {
            $('#user-table').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtip',
                "initComplete": function () {
                    $("#user-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
                buttons: ['pageLength',
                    {
                        extend: 'csvHtml5',
                        text: 'Export',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12],
                        },
                        filename: "LAProMT LA List - <%=Time.now.strftime("%m-%d-%Y - %H-%M")%>"
                    },
                    {
                        extend: 'collection',
                        text: 'Filter By Course',
                        buttons: [{
                            text: 'All',
                            action: function () {
                                location.reload(true);
                            }
                        },
                            <% @courses.order(:course_name).each do |course| %>
                            {
                                text: '<%= course.course_name %>',
                                action: function () {
                                    var table = $('#office-table').DataTable();
                                    table.column(1).search('<%= course.course_name %>').draw();
                                }
                            },
                            <% end %>
                        ]
                    }
                ]
            })
        }
    });
</script>
