<% content_for :title, "Hiring - Admin" %>
<div class="card">
  <h5 class="card-header">Hiring Applications</h5>
  <div class="card-body">
    <table class="table" id="user-table">
      <thead>
      <tr>
        <th style="white-space: nowrap">Name</th>
        <th style="white-space: nowrap">MyUNL Username</th>
        <th style="white-space: nowrap">NUID</th>
        <th style="white-space: nowrap">Email</th>
        <th style="white-space: nowrap">Course</th>
        <th style="white-space: nowrap">GPA</th>
        <th style="white-space: nowrap">Application Form</th>
        <th style="white-space: nowrap">Status</th>
        <th style="white-space: nowrap">Sub-Status</th>
        <th style="white-space: nowrap">Change Status</th>
        <th style="white-space: nowrap">Interview Time</th>
        <th style="white-space: nowrap">Score</th>
        <th style="white-space: nowrap">Submitted Time</th>
      </tr>
      </thead>
      <tbody>
      <% @application.each do |application| %>
        <tr>
          <td><%= application.Name %></td>
          <td><%= application.eduPersonPrincipalName %></td>
          <td><%= application.NUID %></td>
          <td><a href="mailto:<%= application.Email %>"><%= application.Email %></td>
          <td><%= application.Course.tr('[""]', '').gsub(",", "\n") %></td>
          <td><%= application.GPA %></td>
          <td>
            <%= form_tag(hiring_see_pdf_url, method: "post", id: "view_application_" + application.NUID, target: "_blank") do %>
              <input type="hidden" name="id" value=<%= application.id %>>
              <%= submit_tag("View Application", class: "btn btn-success btn-sm") %>
            <% end %>
          </td>
          <td><%= application.Application_Status %></td>
          <td><%= application.Sub_Status %></td>

          <td>
            <%= link_to 'Action', { :action => 'decision', :id => application.id }, class: "btn btn-primary btn-sm" %>
          </td>
          <td>
            <% if application.Interview_Time %>
              <%= application.Interview_Time.strftime("%d/%m/%Y %I:%M %P") %>
            <% else %>
              Pending
            <% end %></td>
          <td><%= application.Score %></td>
          <td><%= application.created_at.strftime("%d/%m/%Y %I:%M %P") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <a href=<%= admin_queue_url %> style="text-align:center" class="btn btn-primary">Queued Email</a>
    <br>
    <br>
    <%= form_tag(hiring_delete_all_url, method: "post", id: "delete_all", onSubmit: "return confirm('Are you sure you want to delete all applications?') ") do %>
      <%= submit_tag("Delete All Applications", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>
<br>
<div class="card">
  <h5 class="card-header">Application Note</h5>
  <div class="card-body">
    <script>
        jQuery(function ($) {
            var fbRender = document.getElementById('interview_form'),
                formData =
            <%= raw interview_form.inspect %>
            var formRenderOpts = {
                formData,
                dataType: 'json',
                i18n: {
                    location: 'https://formbuilder.online/assets/lang'
                }
            };
            $(fbRender).formRender(formRenderOpts);
        });
    </script>
    <%= form_tag(hiring_application_note_url, multipart: true, id: "interview_form", method: "post", style: "margin: 15px;border-radius: 10px;border: 1px solid #ccc!important;padding: 5px;", onsubmit: "return ValidateExtension()") do %>
    <% end %>
    <script>
        function ValidateExtension() {
            var allowedFiles = [".pdf",];
            var fileUpload = document.getElementById("file");
            var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
            if (fileUpload.value != "") {
                if (!regex.test(fileUpload.value.toLowerCase())) {
                    alert("Please upload files having extensions:" + allowedFiles.join(', ') + " only.");
                    return false;
                }
                const fi = document.getElementById("file");
                for (let i = 0; i <= fi.files.length - 1; i++) {

                    const fsize = fileUpload.files.item(i).size;
                    const file = Math.round((fsize / 1024));
                    if (file >= 4096) {
                        alert(
                            "File too Big, please select a file less than 4mb");
                        return false;
                    }
                }
            }
            return true;
        }
    </script>
  </div>
</div>
<br>
<div class="card">
  <h5 class="card-header">Hiring Settings</h5>
  <div class="card-body">
    <h5 class="card-title">Open for Application
      <span class="tooltip-element" tooltip="This will turn on/off the application">?</span></h5>
    <%= form_tag(hiring_open_apply_url, method: "post", id: "open_apply", onSubmit: "return confirm('Do you want to change Application to '+open_for_apply.value+'?') ") do %>
      <div class="row">
        <div class="col">
          <%= select_tag(:open_for_apply, options_for_select([['On', "true"], ['Off', "false"]]), class: "form-control") %>
          <script>
              document.getElementById("open_for_apply").value = "<%= SystemValue.find_by(name: 'application_opening').value %>"
          </script>
        </div>
        <div class="col">
          <%= submit_tag("Submit Request", class: "btn btn-primary float-right") %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class="card-body">
    <h5 class="card-title">Interview Calendar
      <span class="tooltip-element" tooltip="Applicant will be given this link to find available times to schedule an interview">?</span>
    </h5>
    <%= form_tag(hiring_hiring_calendar_url, method: "post", id: "hiring_calendar_edit", onSubmit: "return confirm('Do you want to change the hiring calendar?') ") do %>
      <div class="row">
        <div class="col">
          <input type="url" class="form-control" name="hiring_calendar" value=<%= SystemValue.find_by(name: 'hiring_calendar').value %> id="hiring_calendar" required="required">
        </div>
        <div class="col">
          <%= submit_tag("Submit Request", class: "btn btn-primary float-right") %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class="card-body">
    <h5 class="card-title">Last Day of Interview
      <span class="tooltip-element" tooltip="This will set the last day an applicant can schedule for an interview">?</span>
    </h5>
    <%= form_tag(hiring_lastday_interview_url, method: "post", id: "lastday_interview", onSubmit: "return confirm('Do you want to change the Last Day of Interview to '+date.value+'?') ") do %>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="date" name="date" value="<%= SystemValue.find_by(name: 'last_day_interview').value %>" placeholder="yyyy-mm-dd" pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))">
        </div>
        <div class="col">
          <%= submit_tag("Submit Request", class: "btn btn-primary float-right") %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class="card-body">
    <h5 class="card-title">Interview Location
      <span class="tooltip-element" tooltip="This will be the location provided to the applicant.">?</span>
    </h5>
    <%= form_tag(hiring_interview_location_url, method: "post", id: "interview_location_edit", onSubmit: "return confirm('Do you want to change the interview location to '+interview_location.value+'?') ") do %>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" name="interview_location" value="<%= SystemValue.find_by(name: 'interview_location').value %>" id="interview_location" required="required">
        </div>
        <div class="col">
          <%= submit_tag("Submit Request", class: "btn btn-primary float-right") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="card">
  <h5 class="card-header">Edit Forms</h5>
  <div class="card-body">
    <a href="<%= admin_edit_application_url %>" class="btn btn-primary float-right">Edit Application Form</a>
    <a href="<%= admin_edit_interview_url %>" class="btn btn-primary float-right">Edit Interview Form</a>
  </div>
</div>

<script defer type="text/javascript">
    $(document).ready(function () {
        $.fn.dataTable.moment('MM/DD/YYYY hh:mm a');
        $('#user-table').DataTable({
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            dom: 'Bfrtip',
            "initComplete": function () {
                $("#user-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
            },
            columnDefs: [{
                targets: [8],
                searchable: false,
                visible: true
            }, {
                targets: [6],
                searchable: false,
                visible: true
            }
            ],
            buttons: ['pageLength',
                {
                    extend: 'csvHtml5',
                    text: 'Export',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 7, 9, 10, 11],
                    },
                    filename: "LA Application - <%=Time.now.strftime("%m-%d-%Y - %H-%M")%>"
                },
                {
                    extend: 'collection',
                    text: 'Filter By Status',
                    buttons: [
                        {
                            text: 'All',
                            action: function () {
                                var table = $('#user-table').DataTable();
                                table.column(7).search('').draw();
                            }
                        }, {
                            text: 'submitted',
                            action: function () {
                                var table = $('#user-table').DataTable();
                                table.column(7).search('submitted').draw();
                            }
                        }, {
                            text: 'scheduling',
                            action: function () {
                                var table = $('#user-table').DataTable();
                                table.column(7).search('scheduling').draw();
                            }
                        }, {
                            text: 'scheduled',
                            action: function () {
                                var table = $('#user-table').DataTable();
                                table.column(7).search('scheduled').draw();
                            }
                        }, {
                            text: 'offered',
                            action: function () {
                                var table = $('#user-table').DataTable();
                                table.column(7).search('offered').draw();
                            }
                        }
                        , {
                            text: 'accept',
                            action: function () {
                                var table = $('#user-table').DataTable();
                                table.column(7).search('accept').draw();
                            }
                        }, {
                            text: 'reject',
                            action: function () {
                                var table = $('#user-table').DataTable();
                                table.column(7).search('reject').draw();
                            }
                        }, {
                            text: 'withdraw',
                            action: function () {
                                var table = $('#user-table').DataTable();
                                table.column(7).search('withdraw').draw();
                            }
                        }]
                },
            ]
        })
    });
</script>
<script>
    $('#date').datepicker({
        dateFormat: "yy-mm-dd"
    })
</script>
