<% content_for :title, "Hiring - Admin" %>
<div class="main">
  <div class="card">
    <h5 class="card-header">Hiring Applications</h5>
    <div class="card-body">
      <table class="table" id="user-table">
        <thead>
        <tr>
          <th style="white-space: nowrap">Name</th>
          <th style="white-space: nowrap">NUID</th>
          <th style="white-space: nowrap">Email</th>
          <th style="white-space: nowrap">Course</th>
          <th style="white-space: nowrap">GPA</th>
          <th style="white-space: nowrap">Application Form</th>
          <th style="white-space: nowrap">Status</th>
          <th style="white-space: nowrap">Interview Time</th>
          <th style="white-space: nowrap">Submitted Time</th>
          <th>Hidden Status</th>
        </tr>
        </thead>
        <tbody>
        <% @application.each do |application| %>
          <tr>
            <td><%= application.Name %></td>
            <td><%= application.NUID %></td>
            <td><a href="mailto:<%= application.Email %>"><%= application.Email %></td>
            <td><%= application.Course.tr('[""]', '').gsub(",", "\n") %></td>
            <td><%= application.GPA %></td>
            <td>
              <%= form_tag("/admin", method: "post", name: "View Application") do %>
                <input type="hidden" id="form_type" name="form_type" value="5">
                <input type="hidden" id="filename" name="filename" value=<%= application.eduPersonPrincipalName %>>
                <input type="hidden" id="location" name="location" value=<%= application.file_location %>>
                <%= submit_tag("View Application", class: "btn btn-primary", id: "submit") %>
              <% end %>
            </td>
            <td>
              <%= form_tag("/admin", method: "post", name: "Change Status", onSubmit: "return confirm('Do you want to change status for '+Name.value+' to '+status.value+'?') ") do %>
                <input type="hidden" id="form_type" name="form_type" value="6">
                <input type="hidden" id="id" name="id" value="<%= application.id %>">
                <input type="hidden" id="Name" name="Name" value="<%= application.Name %>">
                <input type="hidden" id="Email" name="Email" value="<%= application.Email %>">
                <%= select_tag(:status, options_for_select([['submitted', "submitted"], ['scheduling', "scheduling"], ['scheduled', "scheduled"], ['offered', "offered"], ['accepted', "accepted"], ['reject', "reject"], ['withdraw', "withdraw"], ['delete', "delete"]]), class: "custom-select custom-select-sm") %>
                <%= submit_tag("Submit", class: "btn btn-primary btn-sm", id: "submit", style: "margin-top: 2px") %>
              <% end %>
            </td>
            <script>
                document.getElementById("status").value = "<%= application.application_status %>"
            </script>
            <td><%= application.interview_time %></td>
            <td><%= application.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
            <td><%= application.application_status %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= form_tag("/admin", method: "post", name: "View Application") do %>
        <input type="hidden" id="form_type" name="form_type" value="9">
        <%= submit_tag("Delete All Application", class: "btn btn-primary", id: "submit") %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Hiring Setting</h5>
    <div class="card-body">
      <h5 class="card-title">Open for Application
        <span class="tooltip-element" tooltip="This will turn on or off the application">?</span></h5>
      <%= form_tag("/admin", method: "post", name: "open_for_apply", onSubmit: "return confirm('Do you want to change Application to '+open_for_apply.value+'?') ") do %>
        <input type="hidden" id="form_type" name="form_type" value="10">
        <div class="form-row">
          <div class="col">
            <%= select_tag(:open_for_apply, options_for_select([['On', "true"], ['Off', "false"]]), class: "form-control") %>
            <script>
                document.getElementById("open_for_apply").value = "<%= accept_application.value %>"
            </script>
          </div>
          <div class="col">
            <%= submit_tag("Submit Request", class: "btn btn-primary float-right", id: "submit") %>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <div class="card-body">
      <h5 class="card-title">Last Day of Interview
        <span class="tooltip-element" tooltip="This will set the last day they can schedule for interview">?</span></h5>
      <%= form_tag("/admin", method: "post", name: "open_for_apply", onSubmit: "return confirm('Do you want to change Last Day of Interview to '+date.value+'?') ") do %>
        <input type="hidden" id="form_type" name="form_type" value="11">
        <div class="form-row">
          <div class="col">
          <input id="date" type="date" id="date" name="date" value="<%= SystemValue.find_by(name: 'last_day_interview').value %>">
          </div>
          <div class="col">
            <%= submit_tag("Submit Request", class: "btn btn-primary float-right", id: "submit") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Hiring Form</h5>
    <div class="card-body">
      <form id="fb-render" style="margin: 1px;border-radius: 5px;border: 1px solid #ccc!important;padding: 5px;"></form>
      <br>
      <a href="/interviewer/edit" class="btn btn-primary float-right">Edit</a>
    </div>
  </div>
</div>
<script>
    jQuery(function ($) {
        var fbRender = document.getElementById('fb-render'),
            formData =
        <%= raw application_form.inspect %>
        var formRenderOpts = {
            formData,
            dataType: 'json'
        };

        $(fbRender).formRender(formRenderOpts);
    });
</script>
<script defer type="text/javascript">
    $(document).ready(function () {
        $('#user-table').DataTable({
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            dom: 'Bfrtip',
            "scrollX": true,
            columnDefs: [{
                targets: [6],
                searchable: false,
                visible: true
            }],
            columnDefs: [{
                targets: [9],
                searchable: true,
                visible: false
            }],
            buttons: ['pageLength',
                {
                    text: 'All',
                    action: function () {
                        var table = $('#user-table').DataTable();
                        table.column(9).search('').draw();
                    }
                }, {
                    text: 'submitted',
                    action: function () {
                        var table = $('#user-table').DataTable();
                        table.column(9).search('submitted').draw();
                    }
                }, {
                    text: 'scheduling',
                    action: function () {
                        var table = $('#user-table').DataTable();
                        table.column(9).search('scheduling').draw();
                    }
                }, {
                    text: 'scheduled',
                    action: function () {
                        var table = $('#user-table').DataTable();
                        table.column(9).search('scheduled').draw();
                    }
                }, {
                    text: 'offered',
                    action: function () {
                        var table = $('#user-table').DataTable();
                        table.column(9).search('offered').draw();
                    }
                }
                , {
                    text: 'accept',
                    action: function () {
                        var table = $('#user-table').DataTable();
                        table.column(9).search('accept').draw();
                    }
                }, {
                    text: 'reject',
                    action: function () {
                        var table = $('#user-table').DataTable();
                        table.column(9).search('reject').draw();
                    }
                }, {
                    text: 'withdraw',
                    action: function () {
                        var table = $('#user-table').DataTable();
                        table.column(9).search('withdraw').draw();
                    }
                },
            ]
        })
    });
</script>