<% content_for :title, "Home - Admin" %>
<div class="card">
  <h5 class="card-header">Senior Leader Link</h5>
  <div class="card-body">
    <h5 class="card-title">LA Link</h5>
    <a href=<%= la_index_url %> style="text-align:center" class="btn btn-primary">LA Home</a>
    <a href=<%= la_settings_url %> style="text-align:center" class="btn btn-primary">LA Setting</a>
    <a href=<%= student_contact_url %>  style="text-align:center" class="btn btn-primary">Contact Committee</a>
    <br>
    <br>
    <h5 class="card-title">Student Link</h5>
    <a href=<%= student_index_url %> style="text-align:center" class="btn btn-primary">Request an LA</a>
    <a href=<%= student_application_url %> style="text-align:center" class="btn btn-primary">Apply to be an
      LA</a>
  </div>
</div>
<br>
<div class="card">
  <h5 class="card-header">Open Appointment</h5>
  <div class="card-body">
    <table class="table" id="open-table">
      <thead>
      <tr>
        <th style="white-space: nowrap">Name</th>
        <th style="white-space: nowrap">Email</th>
        <th style="white-space: nowrap">Course</th>
        <th style="white-space: nowrap">Datetime</th>
        <th style="white-space: nowrap">Method</th>
        <th style="white-space: nowrap">Duration</th>
        <th style="white-space: nowrap">Details</th>
      </tr>
      </thead>
      <tbody>
      <% @open.each do |open| %>
        <tr>
          <td><%= open.displayName %></td>
          <td><%= open.email %></td>
          <td><%= open.class_id %></td>
          <td>
            <% if open.datetime.nil? %>
              As Soon As Possible
            <% else %>
              <%= open.datetime.strftime("%m/%d/%Y %I:%M %P") %>
            <% end %>
          </td>
          <td><%= open.the_method %></td>
          <td><%= open.duration %></td>
          <td><%= link_to 'Detail', { :action => 'detail', :id => open.id }, target: "_blank", class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="card">
  <h5 class="card-header">Accepted Appointment</h5>
  <div class="card-body">
    <table class="table" id="accept-table">
      <thead>
      <tr>
        <th style="white-space: nowrap">Student Name</th>
        <th style="white-space: nowrap">Student Email</th>
        <th style="white-space: nowrap">LA Name</th>
        <th style="white-space: nowrap">Course</th>
        <th style="white-space: nowrap">Datetime</th>
        <th style="white-space: nowrap">Method</th>
        <th style="white-space: nowrap">Details</th>
      </tr>
      </thead>
      <tbody>
      <% @accepted.each do |accepted| %>
        <tr>
          <td><%= accepted.displayName %></td>
          <td><%= accepted.email %></td>
          <td>
            <% if accepted.la_eduPersonPrincipalName %>
              <%= UserDetail.find_by(eduPersonPrincipalName: (accepted.la_eduPersonPrincipalName)).DisplayName %>
            <% end %>
          </td>
          <td><%= accepted.class_id %></td>
          <td>
            <% if accepted.datetime.nil? %>
              As Soon As Possible
            <% else %>
              <%= accepted.datetime.strftime("%m/%d/%Y %I:%M %P") %>
            <% end %>
          </td>
          <td><%= accepted.the_method %></td>
          <td><%= link_to 'Detail', { :action => 'detail', :id => accepted.id }, target: "_blank", class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="card">
  <h5 class="card-header">Appointments from last 7 days</h5>
  <div class="card-body">
    <table class="table" id="close-table">
      <thead>
      <tr>
        <th style="white-space: nowrap">Student Name</th>
        <th style="white-space: nowrap">Student Email</th>
        <th style="white-space: nowrap">LA Name</th>
        <th style="white-space: nowrap">Course</th>
        <th style="white-space: nowrap">Datetime</th>
        <th style="white-space: nowrap">Method</th>
        <th style="white-space: nowrap">LA Accept Time</th>
        <th style="white-space: nowrap">Start Time</th>
        <th style="white-space: nowrap">End Time</th>
        <th style="white-space: nowrap">Actual Duration</th>
        <th style="white-space: nowrap">Requested Duration</th>
        <th style="white-space: nowrap" hidden>Close Reason</th>
        <th style="white-space: nowrap">Details</th>
      </tr>
      </thead>
      <tbody>
      <% @past.each do |past| %>
        <tr>
          <td><%= past.displayName %></td>
          <td><%= past.email %></td>
          <td>
            <% if past.la_eduPersonPrincipalName %>
              <%= UserDetail.find_by(eduPersonPrincipalName: (past.la_eduPersonPrincipalName)).DisplayName %>
            <% end %>
          </td>
          <td><%= past.class_id %></td>
          <td>
            <% if past.datetime.nil? %>
              As Soon As Possible
            <% else %>
              <%= past.datetime.strftime("%m/%d/%Y %I:%M %P") %>
            <% end %>
          </td>
          <td><%= past.the_method %></td>
          <td>
            <% if past.la_accept_time %>
              <%= past.la_accept_time.strftime("%m/%d/%Y %I:%M %P") %>
            <% end %>
          </td>
          <td>
            <% if past.startTime %>
              <%= past.startTime.strftime("%m/%d/%Y %I:%M %P") %>
            <% end %>
          </td>
          <td>
            <% if past.endTime %>
              <%= past.endTime.strftime("%m/%d/%Y %I:%M %P") %>
            <% end %>
          </td>
          <td>
            <% if past.startTime && past.endTime %>
              <%= ((past.endTime - past.startTime) / 60).to_i %> Minutes
            <% end %>
          </td>
          <td><%= past.duration %> Minutes</td>
          <td hidden><%= past.close_reason %></td>
          <td><%= link_to 'Detail', { :action => 'detail', :id => past.id }, target: "_blank", class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('MM/DD/YYYY hh:mm a');
        if ($.fn.dataTable.isDataTable('#open-table')) {
            table = $('#open-table').DataTable();
        } else {
            $('#open-table').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtip',
                "initComplete": function () {
                    $("#open-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
                buttons: ['pageLength'
                    , {
                        extend: 'csvHtml5',
                        text: 'Export',
                        filename: "LA Open Appointment - <%=Time.now.strftime("%m-%d-%Y - %H-%M")%>"
                    }, {
                        extend: 'collection',
                        text: 'Filter By Course',
                        buttons: [{
                            text: 'All',
                            action: function () {
                                location.reload(true);
                            }
                        },
                            <% @course.order(:course_name).each do |course| %>
                            {
                                text: '<%= course.course_name %>',
                                action: function () {
                                    var table = $('#open-table').DataTable();
                                    table.column(2).search('<%= course.course_name %>').draw();
                                }
                            },
                            <% end %>
                        ]
                    }]
            })
        }

    });
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#close-table')) {
            table = $('#close-table').DataTable();
        } else {
            $('#close-table').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtip',
                "initComplete": function () {
                    $("#close-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
                buttons: ['pageLength'
                    , {
                        extend: 'csvHtml5',
                        text: 'Export',
                        filename: "LA Appointment Last 7 Days - <%=Time.now.strftime("%m-%d-%Y - %H-%M")%>"
                    }, {
                        extend: 'collection',
                        text: 'Filter By Course',
                        buttons: [
                            {
                                text: 'All',
                                action: function () {
                                    location.reload(true);
                                }
                            },
                            <% @course.order(:course_name).each do |course| %>
                            {
                                text: '<%= course.course_name %>',
                                action: function () {
                                    var table = $('#open-table').DataTable();
                                    table.column(2).search('<%= course.course_name %>').draw();
                                }
                            },
                            <% end %>
                        ]
                    }]
            })
        }

    });
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#accept-table')) {
            table = $('#accept-table').DataTable();
        } else {
            $('#accept-table').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtip',
                "initComplete": function () {
                    $("#accept-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
                buttons: ['pageLength'
                    , {
                        extend: 'csvHtml5',
                        text: 'Export',
                        filename: "LA Accepted Appointment - <%=Time.now.strftime("%m-%d-%Y - %H-%M")%>"
                    },
                    {
                        extend: 'collection',
                        text: 'Filter By Course',
                        buttons: [
                            {
                                text: 'All',
                                action: function () {
                                    location.reload(true);
                                }
                            },
                            <% @course.order(:course_name).each do |course| %>
                            {
                                text: '<%= course.course_name %>',
                                action: function () {
                                    var table = $('#accept-table').DataTable();
                                    table.column(2).search('<%= course.course_name %>').draw();
                                }
                            },
                            <% end %>
                        ]
                    }]
            })
        }

    });
</script>