<style>
    html {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        font-size: 48px;
        text-align: center;
        color: black;
    }

    h2 {
        font-size: 28px;
        color: black
    }

    h3 {
        font-size: 18px;
        color: blue
    }

    h4 {
        font-size: 12px;
        color: green
    }
</style>
<h1>Learning Assistant Program Interview Form</h1>
<h2 style="text-align: center;">Submit By: <%= @name %>(<%= @username %>)</h2>
<h2 style="text-align: center;">Submit For: <%= @student_name %>(<%= @student_username %>)</h2>
<h2 style="text-align: center;">Submitted on <%= Time.now.strftime("%d/%m/%Y - %I:%M %P") %></h2>
<% @submit.each do |key, value| %>
  <% if key != "controller" and key != "action" and key != "submit" %>
    <h2><%= key %></h2>
    <h3>  <%= value %></h3>
  <% end %>
<% end %>