<% content_for :title, "User Management - Admin" %>
<div class="main">
  <div class="card">
    <h5 class="card-header">System Setting</h5>
    <div class="card-body">
      <h5 class="card-title">System URL
        <span class="tooltip-element" tooltip="Put the url of the LA management system here">?</span></h5>
      <%= form_tag(Rails.configuration.custom_prefix + "/admin", method: "post", name: "username_management", onSubmit: "return confirm('Do you want to change the system url to '+system_url.value+'?') ") do %>
        <input type="hidden" id="form_type" name="form_type" value="4">
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" name="system_url" value=<%= system_url.value %> id="system_url" required="required">
          </div>
          <div class="col">
            <%= submit_tag("Submit Request", class: "btn btn-primary float-right", id: "submit") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Role Management</h5>
    <div class="card-body">
      <h5 class="card-title">Change Roles by Username</h5>
      <%= form_tag(Rails.configuration.custom_prefix + "/admin", id: "username_management_by_id", method: "post", name: "username_management_by_id", onSubmit: "return confirm('Do you want to change '+username.value+' to '+user_type.value+'?') ") do %>
        <input type="hidden" id="form_type" name="form_type" value="1">
        <div class="form-row">
          <%= label_tag(:user_name, "Username:", class: "col-sm-2 col-form-label") %>
          <div class="col">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username Input">
          </div>
          <div class="col">
            <%= select_tag(:user_type, options_for_select([['Admin', "admin"], ['LA', "la"], ['Student', "student"]]), class: "form-control", :include_blank => true) %>
          </div>
        </div>
        <br>
        <%= submit_tag("Submit Request", class: "btn btn-primary float-right", id: "submit") %>
      <% end %>
    </div>

  </div>
  <br>
  <div class="card">
    <h5 class="card-header">User List</h5>
    <div class="card-body">
      <h5 class="card-title">Change usertype by list</h5>
      <table class="table" id="user-table">
        <thead>
        <tr>
          <th style="white-space: nowrap">Name</th>
          <th style="white-space: nowrap">Role</th>
          <th style="white-space: nowrap">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.eduPersonPrincipalName %></td>
            <td><%= user.Role %></td>
            <td>

              <%= form_tag(Rails.configuration.custom_prefix + "/admin", method: "post", name: "username_management", onSubmit: "return confirm('Do you want to change '+username.value+' to '+user_type.value+'?') ") do %>
                <input type="hidden" id="form_type" name="form_type" value="2">
                <input type="hidden" id="username" name="username" value=<%= user.eduPersonPrincipalName %>>
                <div class="form-row">
                  <div class="col">
                    <%= select_tag(:user_type, options_for_select([['Admin', "admin"], ['LA', "la"], ['student', "student"]]), class: "form-control", :include_blank => true) %>
                  </div>
                  <div class="col">
                    <%= submit_tag("Submit Request", class: "btn btn-primary", id: "submit") %>
                  </div>
                </div>
              <% end %>

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script defer type="text/javascript">
    $(document).ready(function () {
        $('#user-table').DataTable({
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            dom: 'Bfrtip',
            columnDefs: [{
                targets: 2,
                searchable: false,
                visible: true
            }],
            buttons: ['pageLength'
                , {
                    text: 'All',
                    action: function () {
                        location.reload(true);
                    }
                },
                {
                    text: 'Student',
                    action: function () {
                        var table = $('#user-table').DataTable();
                        table.column(1).search('student').draw();
                    }
                },
                {
                    text: 'LA',
                    action: function () {
                        var table = $('#user-table').DataTable();
                        table.column(1).search('la').draw();
                    }
                },
                {
                    text: 'Admin',
                    action: function () {
                        var table = $('#user-table').DataTable();
                        table.column(1).search('admin').draw();
                    }
                }]
        })
    });
</script>