<p>Hi,</p>
<p>We noticed someone just scheduled an interview time on the LA management system</p>
<p><strong>When: </strong><%= @time %></p>
<p><strong>Who: </strong><%= @name %></p>
<p><strong>Course: </strong> <%= @course.to_s.tr('[""]', '').gsub(",", " ") %></p>
<p><strong>where: </strong> <%= @location %></p>
<p><strong>Email: </strong> <%= @student_email %></p>

<a href='<%= @index_Page %>/admin/hiring' target="_blank"><strong>Want to take a look?</strong> Login to the system </a>
