<p>Hi <%= @name %>,</p>
<p>Your interview time has been sucessfully set!</p>
<p>Your interview will take place at <%= @time %> at <%= @location %> .Please arrive about 10 minutes early to your
  scheduled interview
  time</p>
<p>If you have any question or would like to reschedule please contact the committee at <%= @admin_email %>
  <a href='<%= @index_Page %>/student/application' target="_blank">
    <strong>Want to take a look?</strong> Login to the system </a>
