<div class="spinner" id="spinner" style="display: none;">
  <div class="loading" style="z-index: 10000">Loading&#8230;</div>
  <%= stylesheet_link_tag "loading" %>
</div>

<% if flash %>
  <script>
      <% flash.each do |type, msg| %>
      Swal.fire('<%= msg %>', '', '<%= type %>')
      <% end %>
  </script>
<% end %>

<div class="alert-box">
  <% if global_announcement.text.present? %>
    <div class="alert alert-global alert-dismissible fade show" role="alert">
      <%= global_announcement.text %>
      <button type="button" class="btn-close <%= global_announcement.color_3 %>" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <style>
        .alert-global {
            background-color: <%= global_announcement.color_1 %>;
            color: <%= global_announcement.color_2 %>;
        }
    </style>
  <% end %>
  <% if la_announcement.text.present? and %w[admin la].include? user_type %>
    <div class="alert alert-la alert-dismissible fade show" role="alert">
      <strong>LAs:</strong> <%= la_announcement.text %>
      <button type="button" class="btn-close <%= la_announcement.color_3 %>" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <style>
        .alert-la {
            background-color: <%= la_announcement.color_1 %>;
            color: <%= la_announcement.color_2 %>;
        }
    </style>
  <% end %>
  <% if admin_announcement.text.present? and user_type == "admin" %>
    <div class="alert alert-admin alert-dismissible fade show" role="alert">
      <strong>Admins:</strong> <%= admin_announcement.text %>
      <button type="button" class="btn-close <%= admin_announcement.color_3 %>" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <style>
        .alert-admin {
            background-color: <%= admin_announcement.color_1 %>;
            color: <%= admin_announcement.color_2 %>;
        }
    </style>
  <% end %>
</div>