<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXK874R"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<% if flash %>
  <script>
      <% flash.each do |type, msg| %>
      Swal.fire('<%= msg %>', '', '<%= type %>')
      <% end %>
  </script>
<% end %>

<div class="alert-box">
  <% if SystemValue.find_by(name: "global_text").value.present? %>
    <div class="alert alert-global alert-dismissible fade show" role="alert">
      <%= SystemValue.find_by(name: 'global_text').value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <style>
        .alert-global {
            background-color: <%= SystemValue.find_by(name: 'global_color_1').value %>;
            color: <%= SystemValue.find_by(name: 'global_color_2').value %>;
        }
    </style>
  <% end %>
  <% if SystemValue.find_by(name: "la_text").value.present? and user_type != "student" %>
    <div class="alert alert-la alert-dismissible fade show" role="alert">
      <strong>LAs:</strong> <%= SystemValue.find_by(name: 'la_text').value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <style>
        .alert-la {
            background-color: <%= SystemValue.find_by(name: 'la_color_1').value %>;
            color: <%= SystemValue.find_by(name: 'la_color_2').value %>;
        }
    </style>
  <% end %>
  <% if SystemValue.find_by(name: "admin_text").value.present? and user_type == "admin" %>
    <div class="alert alert-admin alert-dismissible fade show" role="alert">
      <strong>Admins:</strong> <%= SystemValue.find_by(name: 'admin_text').value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <style>
        .alert-admin {
            background-color: <%= SystemValue.find_by(name: 'admin_color_1').value %>;
            color: <%= SystemValue.find_by(name: 'admin_color_2').value %>;
        }
    </style>
  <% end %>
</div>