<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "layouts/head" %>
</head>
<body>
<header>
  <%= render "layouts/navbar" %>
  <%= render "layouts/header" %>
</header>
<div id="main">
  <div class="main">
    <%= render "layouts/plugins" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </div>
</div>
</body>
</html>