<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "layouts/head" %>
</head>
<body>
<header>
  <%= render "layouts/sso" %>
  <%= render "layouts/navbar" %>
  <%= render "layouts/header" %>
</header>
<div id="main">

  <%= yield %>
</div>
<script>
    <% if flash[:notice] %>

    <% flash.each do |notice, msg| %>
    <% if msg!="" %>
    alert("<%= msg %>");
    <% end %>
    <% end %>
    <% end %>
</script>
</body>
<%= render "layouts/footer" %>
</html>