<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<body>
<header>
  <%= render "layouts/sso" %>
  <%= render "layouts/navbar" %>
</header>
<div id="main">
  <span class="pc_ham" style="font-size:30px;cursor:pointer" onclick="openNav()" id="open_nav_hamburger">&#9776;</span>
  <script>
      jQuery(document).ready(function(){
          var width = (window.innerWidth > 0) ? window.innerWidth : document.documentElement.clientWidth;
          if(width > 960){
              document.getElementById("open_nav_hamburger").click();
          }

      })
  </script>
  <%= yield %>
</div>
</body>
<%= render "layouts/footer" %>
</html>